table {
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

thead {
    background-color: #7FB9C2;
    font-size: 30px;
    height: 90px;
}
th, td {
    border: 1px solid #AEB4B8;
    height: 30px;
}

