table {
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table, th, td {
    border: 1px solid #AEB4B8;
    height: 35px;
}

thead {
    background-color: #7FB9C2;
    font-size: 30px;
    height: 40px;
}

.period {
    background-color: #628CA6;
    color: white;
    font-size: 18px
}

.august {
    background-color: #E7F0ED;
}

.september {
    background-color: #E7FFED;
}

.october {
    background-color: #E7F0ED;
}

.november {
    background-color: #E7FFED;
}

.done {
    background-color: #628CA6;
    color: white;
}
.black {
    background-color: #E7F0ED;
}

.december {
    background-color: #E7FFED;
}

tfoot {
    background-color: #7FB9C2;
    font-size: 13px;
}